[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git@9cde4e45845486bdb46ad322448f93df3b8479bf
[submodule "Vendor/SSToolkit"]
	path = Vendor/SSToolkit
	url = git://github.com/soffes/sstoolkit.git
[submodule "Vendor/ViewDeck"]
	path = Vendor/ViewDeck
	url = git://github.com/Inferis/ViewDeck.git
[submodule "Vendor/SVPullToRefresh"]
	path = Vendor/SVPullToRefresh
	url = git://github.com/samvermette/SVPullToRefresh.git
