<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AK</key>
	<string>Alaska</string>
	<key>AL</key>
	<string>Alabama</string>
	<key>AR</key>
	<string>Arkansas</string>
	<key>AS</key>
	<string>American Samoa</string>
	<key>AZ</key>
	<string>Arizona</string>
	<key>CA</key>
	<string>California</string>
	<key>CO</key>
	<string>Colorado</string>
	<key>CT</key>
	<string>Connecticut</string>
	<key>DC</key>
	<string>District of Columbia</string>
	<key>DE</key>
	<string>Delaware</string>
	<key>FL</key>
	<string>Florida</string>
	<key>GA</key>
	<string>Georgia</string>
	<key>GU</key>
	<string>Guam</string>
	<key>HI</key>
	<string>Hawaii</string>
	<key>IA</key>
	<string>Iowa</string>
	<key>ID</key>
	<string>Idaho</string>
	<key>IL</key>
	<string>Illinois</string>
	<key>IN</key>
	<string>Indiana</string>
	<key>KS</key>
	<string>Kansas</string>
	<key>KY</key>
	<string>Kentucky</string>
	<key>LA</key>
	<string>Louisiana</string>
	<key>MA</key>
	<string>Massachusetts</string>
	<key>MD</key>
	<string>Maryland</string>
	<key>ME</key>
	<string>Maine</string>
	<key>MI</key>
	<string>Michigan</string>
	<key>MN</key>
	<string>Minnesota</string>
	<key>MO</key>
	<string>Missouri</string>
	<key>MP</key>
	<string>Northern Mariana Islands</string>
	<key>MS</key>
	<string>Mississippi</string>
	<key>MT</key>
	<string>Montana</string>
	<key>NC</key>
	<string>North Carolina</string>
	<key>ND</key>
	<string>North Dakota</string>
	<key>NE</key>
	<string>Nebraska</string>
	<key>NH</key>
	<string>New Hampshire</string>
	<key>NJ</key>
	<string>New Jersey</string>
	<key>NM</key>
	<string>New Mexico</string>
	<key>NV</key>
	<string>Nevada</string>
	<key>NY</key>
	<string>New York</string>
	<key>OH</key>
	<string>Ohio</string>
	<key>OK</key>
	<string>Oklahoma</string>
	<key>OR</key>
	<string>Oregon</string>
	<key>PA</key>
	<string>Pennsylvania</string>
	<key>PR</key>
	<string>Puerto Rico</string>
	<key>RI</key>
	<string>Rhode Island</string>
	<key>SC</key>
	<string>South Carolina</string>
	<key>SD</key>
	<string>South Dakota</string>
	<key>TN</key>
	<string>Tennessee</string>
	<key>TX</key>
	<string>Texas</string>
	<key>UT</key>
	<string>Utah</string>
	<key>VA</key>
	<string>Virginia</string>
	<key>VI</key>
	<string>Virgin Islands</string>
	<key>VT</key>
	<string>Vermont</string>
	<key>WA</key>
	<string>Washington</string>
	<key>WI</key>
	<string>Wisconsin</string>
	<key>WV</key>
	<string>West Virginia</string>
	<key>WY</key>
	<string>Wyoming</string>
</dict>
</plist>
